<mat-nav-list>
  <a mat-list-item *ngIf="!isAuth" routerLink="/signin" (click)="onClose()">
    <mat-icon>face</mat-icon>
    <span class="nav-caption">Sign In</span>
  </a>
  <a mat-list-item *ngIf="!isAuth" routerLink="/signup">
    <mat-icon>fiber_new</mat-icon>
    <span class="nav-caption">Sign Up</span>
  </a>
  <a mat-list-item *ngIf="isAuth" routerLink="/training">
    <mat-icon>rowing</mat-icon>
    <span class="nav-caption">Training</span>
  </a>
  <a mat-list-item *ngIf="isAuth">
    <button mat-icon-button (click)="onSignOut()">
      <mat-icon>exit_to_app</mat-icon>
      <span class="nav-caption">Sign Out</span>
    </button>

  </a>

</mat-nav-list>